/* PADRÃO */
:root {
    --cor-fundo-claro: #cccad0;
    --cor-texto-claro: #E0DEE4;
    --cor-texo-escuro: #454c5e;
    --cor-fundo-pagina: #212939;
    --cor-azul-escuro: #0F396F;
}

@font-face {
    font-family: "Horizon";
    src: url(font/Horizon_Regular.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lovelo";
    src: url(font/Lovelo\ Black.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Alexandria";
    src: url(font/Alexandria.ttf) format(truetype);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-image: radial-gradient(circle, var(--cor-fundo-pagina) 80%, var(--cor-texo-escuro));
}

.bg-blur {
    background: hsla(0, 0%, 66%, 0.15) !important;
    backdrop-filter: blur(18px) !important;
    -webkit-backdrop-filter: blur(18px) !important;
    border: 1px solid rgba(255,255,255,.15);
    box-shadow: 0 8px 32px rgba(0,0,0,.2);
}

/* NAV BAR */

.navbar {
    font-family: 'Horizon', sans-serif;
    margin: 0.70rem;
    border-radius: 10px;
}

.navbar a {
    position: relative;
    color: var(--cor-texto-claro);
    transition: 0.3s ease;
}

.navbar a:hover {
    color: var(--cor-fundo-pagina);
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;

    width: 100%;
    height: 2px;
    background-color: var(--cor-texto-claro);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* TEXTO INDICATIVO */

.texto-indicativo {
    font-family: 'Horizon', sans-serif;
    font-size: 1.1rem;
    color: var(--cor-texto-claro);
}

/* CARD CADASTRO */
.card {
    font-family: 'Alexandria', sans-serif;
    color: var(--cor-texto-claro);
    font-size: 0.8rem;
}

.card-title {
    font-family: 'Lovelo', sans-serif;
}

.btn-cadastro {
    background-color: #0F396F;
    color: var(--cor-texto-claro);
    border: 1px solid #75b1ff2d;
}

.form-control{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(255,255,255,.12);
    color:white;
}

.form-control::placeholder{
    color: white;
}

.form-select {
    background:rgba(255,255,255,.08);
    border: 1px solid rgba(255,255,255,.12);
    color: white;
}

.form-select option {
    background-color: #212939;
}